.page-footer {
    height: 200px;
}

.footer-contacts__list {
    background-color: aquamarine;
}
.footer-contacts__item {
    width: 300px;
}
.footer-contacts__link {
    font-size: 55px;
    color: black;
}