.screen_5 {
    height: 200px;
    background-color: #84A178;
}


.screen_5__text {
    width: 100%;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: red;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}